body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    color: #222;
}

h2, h3 {
    margin-bottom: 20px;
    color: #333;
}


form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="datetime-local"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.login-form {
    width: 50%;
    margin-left: 150px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.center-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}


button:hover {
    background-color: #0056b3;
}


a {
    color: #007BFF;
    text-decoration: none;
}

nav {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 50px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 9999px;
}

nav a:hover {
    color: gray;
}


.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.participants {
    margin-top: 10px;
    background: #f9f9f9;
    padding: 10px;
    border-left: 4px solid #007BFF;
    border-radius: 4px;
    font-size: 14px;
}



a.button-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 20px 10px 0;
    background-color: black;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s;
}

a.button-link:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.footer-buttons {
    text-align: center;
    margin-top: 40px;
}
